<section class="search-row">

    {% set title = page.title %}
    {% set thumb = page.media[page.header.primaryImage] ?: page.media.all|filter((v, k) => k != page.header.avatarImage and (v.type == 'image' or v.type == 'vector'))|first %}

    {% if thumb %}
    <div class="search-image">
        <a href="{{ page.url }}">{{ thumb.loading('lazy').attribute('decoding','async').html(title,title)|raw }}</a>
    </div>
    {% endif %}
    <div class="search-item">
        <div class="search-title">
            <h3><a href="{{ page.url }}">{{ title }}</a></h3>
        </div>
        <div class="search-details">
            <span class="search-date">{{ datestamp }}</span>
        </div>
        {{ page.summary|striptags|truncate(300, true)|raw }} 
    </div>

</section>
