<section class="search-row">
  {% set title = page.title %}
  {% set banner = page.media[page.header.primaryImage].loading('lazy').html(title,title)|raw ?: page.media.images.html(title,title)|raw|first  %}

  {% if banner %}
    <div class="search-image">
      <a href="{{ page.url }}">{{ banner }}</a>
    </div>
  {% endif %}
  <div class="search-item">
    <div class="search-title">
      <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
    </div>

    <div class="search-details">
      {% if config.plugins["translate-date"].enabled %}
        <span class="search-date">{{ page.date|td(null, config.system.pages.dateformat.short) }}</span>
      {% else %}
        <span class="search-date">{{ page.date|date(config.system.pages.dateformat.short) }}</span>
      {% endif %}
    </div>

    <p>{{ page.summary|truncate(200)|raw }}</p>
  </div>
</section>
