{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
  <ul class="menulink">
    <li>
      {% for tax,value in taxlist[taxonomy]|sort %}
        {% set active = uri.param(taxonomy) == tax? 'active' : '' %}
        <a class="tags {{ active }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>
      {% endfor %}
    </li>
  </ul>
{% endif %}
