{% extends 'partials/base.html.twig' %}
{% set show_sidebar = header_var('show_sidebar')|defined(false) %}
{% set image = page.media[page.header.primaryImage] ? : page.media.images|first
%}
{% set title = page.title|raw %}
{% set subtitle = page.header.subtitle|raw %}

{% block body_classes %}
  {{ body_classes|default('single') }}
{% endblock %}

{% block menu %}
  {% include 'partials/sidebar_right.html.twig' %}
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div class="title">
        <h2>
          {{ title }}
        </h2>
        {% if subtitle %}
          <p>
            {{ subtitle }}
          </p>
        {% endif %}
      </div>
    </header>

    {% if image %}
      <span class="image featured">
        {{ image.cropZoom(1038, 437).loading('lazy').attribute('decoding','async').html(title, title)|raw }}
      </span>
    {% endif %}

    {{ page.content|raw }}
  </article>

  {% if show_sidebar == false %}
    <section id="footer" class="align-center">
      {% include 'partials/footer.html.twig' %}
    </section>
  {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar_left.html.twig' %}
{% endblock %}
