{% extends 'partials/base.html.twig' %}

{% block menu %}
  {{ include('partials/sidebar_right.html.twig') }}
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div class="title">
        <h1>{{ title|e }}</h1>
        {% if subtitle %}
          {{ subtitle|markdown }}
        {% endif %}
      </div>
    </header>

  {% if show_image and image %}
      <span class="image featured">
        {{ image.cropZoom(img_width, img_height).loading('lazy').decoding('async').html(title, title)|raw }}
      </span>
  {% endif %}

    {{ include('partials/page-toc-inline.html.twig') }}


    {{ page.content|raw }}

    {# Índice de subpáginas si está activado #}
    {% if header.page_index and page.children|length > 0 %}
      <section class="page-index">
        <h2>{{ 'FUTURE.DEFAULT.PAGE_INDEX_TITLE'|t }}</h2>
        <div class="box light">
          <dl>
            {% for child in page.children.visible %}
              {% set child_subtitle = child.header.subtitle %}
              <dt>
                <a href="{{ child.url }}">{{ child.title|e }}</a>
              </dt>
              {% if child_subtitle %}
                <dd>
                  {{ child_subtitle|markdown(false) }}
                </dd>
              {% endif %}
            {% endfor %}
          </dl>
        </div>
      </section>
    {% endif %}

  </article>

  {% if show_sidebar == false %}
    <section id="footer" class="align-center">
      {{ include('partials/sidebar-bits/footer.html.twig') }}
    </section>
  {% endif %}
{% endblock %}

{% block sidebar %}
{% if show_sidebar == true %}
  {{ include('partials/sidebar_left.html.twig') }}
{% endif %}
{% endblock %}
