{% extends 'partials/base.html.twig' %}
{% block content %}
  <article class="post">
    <header>
      <div class="title">
        <h2>{{ form.message }}</h2>
      </div>
      <div class="meta">
        {% if config.plugins["translate-date"].enabled %}
          <time class="published" datetime="{{ form.date|td(null, "Y-m-d") }}">{{ form.date|td(null, "M j, Y") }}</time>
        {% else %}
          <time class="published" datetime="{{ form.date|date("Y-m-d") }}">{{ form.date|date("M j, Y") }}</time>
        {% endif %}
      </div>
    </header>
    <p>{{'FUTURE.FORM_SUMMARY'|t}}</p>

    {{ content|raw }}

    {% include "forms/data.html.twig" %}
  </article>
{% endblock %}
